* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  grid-template-rows: 1fr auto;
  font-family: "Muli", sans-serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  width: 100%;
  overflow: hidden;
}

button {
  text-decoration: none;
  font-family: inherit;
  padding: 0.5rem;
}

footer {
  margin-top: auto;
}
