.bold {
  font-weight: bold;
}

.text-dark {
  color: $dark-gray;
}

.text-light {
  color: $light-gray;
}

.italic {
  font-style: italic;
}

.lead {
  font-size: 1rem;
  font-weight: 50;
  color: rgb(94, 94, 94);
}

.margin {
  padding-top: 2rem;
}
