.bold {
  font-weight: bold;
}

.text-dark {
  color: $dark-gray;
}

.text-light {
  color: $light-gray;
}

.italic {
  font-style: italic;
}

.lead {
  font-size: 0.9rem;
  font-weight: 200;
  color: rgb(78, 78, 78);
}

.margin {
  padding-top: 2rem;
}
