@import "variables";
@import "utilities";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  line-height: 1.6;
}

.nav {
  &-bar {
    display: grid;
    grid-template-columns: 2fr 0.3fr;
    align-items: center;
    width: 100%;
    height: 3.9rem;
    background-color: $dark-gray;
    // position: fixed;
  }
  &-logo {
    font-weight: 400;
    letter-spacing: 0.1rem;
    color: $nav-gray;
    margin-left: 2.5rem;
    font-size: 1.2rem;
  }
  &-text {
    color: $nav-gray;
    grid-column: 2/3;
    justify-self: end;
    padding-right: 1rem;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    align-items: center;
    // border-left: 1px solid $nav-gray;
  }
}

.nav-style-header {
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: $nav-gray;
  font-size: 1.2rem;
}

.nav-logo-lead {
  font-weight: 350;
  letter-spacing: 0.1rem;
  color: $light-gray;
  font-size: 1.2rem;
}

.nav-text-lead {
  font-weight: 100;
  letter-spacing: 0.1rem;
  color: $light-gray;
  font-size: 1rem;
}

.icons {
  display: flex;
  justify-content: space-around;
  color: $nav-gray;
  margin-right: 1rem;
  &-border {
    border-left: 1px solid $light-gray;
  }
}

// Landing styles

.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px red solid;
  width: 80%;
  height: 80%;
}

.section {
  &-a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    background: url(./assets/img/landing.jpg) center center / cover;
  }
  &-b {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &-c {
    height: 75vh;
    background-color: $dark-gray;
    text-align: center;
    // border: 1px blue solid;
  }
  &-e {
    height: 80vh;
    background-color: black;
    color: white;
    text-align: center;
  }
}

// Slideshow

.slideshow {
  // border: 1px red solid;
  height: 70vh;
  margin: 0 auto;
  position: relative;
}

.slick {
  // border: 1px dotted red;
  width: 75%;
  height: 50vh;
  margin: 0 auto;
  overflow: hidden;
}

#prev {
  position: absolute;
  top: 50%;
  left: 2rem;
  font-size: 5rem;
  cursor: pointer;
  display: inline-block !important;
  color: $product-gray;
}

#next {
  position: absolute;
  top: 50%;
  right: 2rem;
  font-size: 5rem;
  cursor: pointer;
  display: inline-block !important;
  color: $product-gray;
}

.product {
  // border: 1px solid $light-gray;
  display: inline-block;
  height: 50vh;
  margin: 0 0.5rem;
  overflow: hidden;
  &-imgs {
    overflow: hidden;
    height: 50vh;
    width: 50vh;
    // border-top: 1px solid $light-gray;
  }
  &-img {
    object-fit: cover;
    object-position: center center;
    width: 400px;
    height: 100%;
  }
  &-text {
    font-size: 0.9rem;
    color: $product-gray;
    font-weight: 100;
  }
}

//Flowers

.center-header {
  display: inline-block;
}

.b-container {
  display: flex;
  flex-direction: column;
  width: 55%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem;
}

.florals-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  line-height: 1.8;
  text-align: center;
  margin: auto;
  padding: 3rem;
}

//Footer

.footer {
  &-grid {
    background-color: $dark-gray;
    height: 70vh;
    display: grid;
    grid-template-rows: 2fr 1fr;
  }
  &-text {
    color: $nav-gray;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    padding: 2rem 2rem;
  }
}

.down {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: $dark-gray;
  align-content: space-between;
  &-1 {
    grid-column: 0/1;
    align-self: center;
  }
  &-2 {
    grid-column: 2/3;
    justify-content: center;
    text-align: center;
    align-self: end;
  }
  &-3 {
    grid-column: 3/4;
    justify-self: end;
    align-self: center;
  }
}

.sm {
  &-logos {
    padding: 0.5rem;
  }
  &-list {
    font-size: 2rem;
    color: rgba(169, 169, 169, 0.9);
  }
}

.footer-text {
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  color: $nav-gray;
}
