// Imports

@import "variables";
@import "utilities";
@import "base";

// Navbar

.nav {
  &-bar {
    display: grid;
    grid-template-columns: 1fr 2fr 15%;
    align-items: center;
    width: 100%;
    height: 3.9rem;
    background-color: $dark-gray;
  }
  &-logo {
    font-weight: 400;
    letter-spacing: 0.1rem;
    color: $nav-gray;
    margin-left: 2.5rem;
    font-size: 1.2rem;
  }
  &-text {
    display: flex;
    color: $nav-gray;
    grid-column: 2/3;
    justify-self: end;
    padding: 1rem 1rem;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    align-items: center;
    border-right: 1px solid rgba(169, 169, 169, 0.2);
  }
}

.nav-style-header {
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: $nav-gray;
  font-size: 1.2rem;
}

.nav-logo-lead {
  font-weight: 350;
  letter-spacing: 0.1rem;
  color: $light-gray;
  font-size: 1.2rem;
}

.nav-text-lead {
  font-weight: 100;
  letter-spacing: 0.1rem;
  color: $light-gray;
  font-size: 1rem;
}

.icons {
  display: flex;
  justify-content: space-around;
  color: $nav-gray;
  margin-right: 1rem;
}

// Landing styles

.landing-container {
  @include flexCenter;
  // border: 1px red solid;
  width: 80%;
  height: 80%;
}

.svg-logo {
  width: 50%;
}

// Site Sections

.section {
  &-a {
    @include flexCenter;
    height: 75vh;
    background: url(./assets/img/landing.jpg) center center / cover;
  }
  &-b {
    @include flexCenter;
  }
  &-c {
    height: 75vh;
    background-color: $dark-gray;
    text-align: center;
    // border: 1px blue solid;
  }
  &-d {
  }
  &-e {
    height: 80vh;
    background-color: black;
    color: white;
    text-align: center;
  }
}

// #white {
//   color: #fff;
//   text-shadow: 2px 2px 5px #000;
// }

// Slideshow

.slideshow {
  height: 70vh;
  margin: 0 auto;
  position: relative;
}

.slick {
  width: 75%;
  height: 50vh;
  margin: 0 auto;
  overflow: hidden;
}

#prev {
  position: absolute;
  top: 50%;
  left: 2rem;
  font-size: 5rem;
  cursor: pointer;
  display: inline-block !important;
  color: $product-gray;
}

#next {
  position: absolute;
  top: 50%;
  right: 2rem;
  font-size: 5rem;
  cursor: pointer;
  display: inline-block !important;
  color: $product-gray;
}

//Products

.product {
  display: inline-block;
  height: 50vh;
  margin: 0 0.5rem;
  overflow: hidden;
  &-imgs {
    overflow: hidden;
    height: 50vh;
    width: 50vh;
  }
  &-img {
    object-fit: cover;
    object-position: center center / cover no-repeat;
    width: 100%;
    height: 100%;
  }
  &-text {
    display: block;
    font-size: 0.9rem;
    color: $product-gray;
    font-weight: 100;
  }
  &-header {
    color: $product-gray;
    font-weight: 100;
    font-size: 1rem;
    font-family: "Muli", sans-serif;
  }
}

// Items

.items {
  @include flexCenter;
  min-height: 100vh;
  background-color: #000;
  &-container {
    @include flexCenter;
    width: 80%;
    height: 80%;
    margin: auto;
    // border: 1px solid red;
    overflow: hidden;
  }
  &-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    // border: 1px red dotted;
    height: 100%;
    grid-gap: 10px;
  }
  &-products {
    min-height: 100vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%;
  }
}

.gallery {
  &-small {
    max-width: 150px;
    max-height: 150px;
  }

  &-flex {
    display: flex;
  }
}

.tabs {
  display: grid;
  grid-template-rows: 3fr 1fr;
}

.select-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50%;
}

// Text Section

.center-header {
  display: inline-block;
}

.b-container {
  @include flexCenter;
  width: 55%;
  padding: 3rem;
}

.florals-flex {
  @include flexCenter;
  width: 80%;
  margin: auto;
  padding: 3rem;
}

// Legal Compliance

#legal {
  color: #696969;
}

//Footer

.footer {
  &-grid {
    background-color: $dark-gray;
    height: 70vh;
    display: grid;
  }
  &-text {
    color: $nav-gray;
    // text-align: center;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    padding: 1rem;
  }
}

//Footer Grid

.down {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: $dark-gray;
  // align-content: space-between;
  align-content: center;
  border-top: 1px solid $nav-gray;
  &-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-column: 0/1;
    // grid-column: 3/4;
    // border-right: 1px solid $nav-gray;
  }
  &-2 {
    grid-column: 2/3;
    justify-content: center;
    text-align: center;
    align-self: end;
  }
  &-3 {
    grid-column: 3/4;
  }
}

.sm {
  &-logos {
    padding: 0.5rem;
  }
  &-list {
    font-size: 2rem;
    color: rgba(169, 169, 169, 0.9);
  }
}

.newsletter {
  border-radius: 50px;
  border: none;
  padding: 0.5rem 1rem;
  background-color: rgb(50, 50, 50);
  color: #fff;
}

.cart {
  height: 2rem;
}
